@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(&#39;https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&amp;display=swap&#39;); */
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Poppins, sans-serif;
}

.table-container {
  width: 90%;
  margin: 0 auto 40px;
}

.table-container__table {
  width: 100%;
  border-collapse: collapse;
}
.table-container__table thead tr {
  background-color: transparent;
}
.table-container__table td,
.table-container__table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.table-container__table tr:nth-child(even) {
  background-color: #f1f1f1;
}
@media (max-width: 991px) {
  .table-container__table--break-lg thead {
    display: none;
  }
  .table-container__table--break-lg tr {
    display: block;
    margin-bottom: 5px;
  }
  .table-container__table--break-lg td {
    display: block;
    position: relative;
    padding-left: 130px;
    text-align: left;
    border-bottom: 0;
  }
  .table-container__table--break-lg td:last-child {
    border-bottom: 1px solid #ddd;
  }
  .table-container__table--break-lg td::before {
    content: attr(data-heading);
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    padding: 0 5px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .table-container__table--break-md thead {
    display: none;
  }
  .table-container__table--break-md tr {
    display: block;
    margin-bottom: 5px;
  }
  .table-container__table--break-md td {
    display: block;
    position: relative;
    padding-left: 130px;
    text-align: left;
    border-bottom: 0;
  }
  .table-container__table--break-md td:last-child {
    border-bottom: 1px solid #ddd;
  }
  .table-container__table--break-md td::before {
    content: attr(data-heading);
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    padding: 0 5px;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .table-container__table--break-sm thead {
    display: none;
  }
  .table-container__table--break-sm tr {
    display: block;
    margin-bottom: 5px;
  }
  .table-container__table--break-sm td {
    display: block;
    position: relative;
    padding-left: 130px;
    text-align: left;
    border-bottom: 0;
  }
  .table-container__table--break-sm td:last-child {
    border-bottom: 1px solid #ddd;
  }
  .table-container__table--break-sm td::before {
    content: attr(data-heading);
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    padding: 0 5px;
    justify-content: center;
  }
} */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
